


.item-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin: 1rem;
}


.item{
    height: 170px;
    width: 150px;
    background-color: #fffbfe;
    border-radius: 8px;
    -moz-osx-font-smoothing: grayscale;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    backface-visibility: hidden;
    margin: 1rem;
}

.item:hover{
    transform: scale(1.05);
}


#section img{
    width: 150px;
    height: 130px;
    border-radius: 10px;
}
