


.item-container{
    display: grid;
    grid-template-columns: repeat(6,auto);
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    background-color: #b7b7b7;
}
@media(max-width: 768px) {
    .item-container{
        grid-template-columns: repeat(2,auto);
    }
}

@media(max-width: 500px) {
    .item-container{
        grid-template-columns: repeat(2,auto);
    }
}



.item{
    height: 170px;
    width: 150px;
    border-radius: 8px;
    -moz-osx-font-smoothing: grayscale;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    backface-visibility: hidden;
    margin: 1rem;
}

.item:hover{
    transform: scale(1.05);
}


#section img{
    width: 150px;
    height: 130px;
    border-radius: 10px;
}
